<!DOCTYPE html>
<html>
<head>
  <title>User Display</title>
<body>

{% block content %}
  <p>Username: {{ user['username'] }}</p>
  <p>First Name: {{ user['firstname'] }}</p>
  <p>Last Name: {{ user['lastname'] }}</p>
  <p>e-mail: {{ user['email'] }}</p>
  <p>File: {{ user['file'] }}</p>
  <p>Word Count: {{ word_count }}</p>
  <p><a href="/uploads/{{ user['file'] }}">Download File</p>
  <form action="/logout" method="POST">
    <p><input type="submit" value="Logout"/></p>
  </form>
{% endblock %}
</body>
</html>
